@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(#f9dfdc, #fff);
    background: no-repeat;
    height: 100vh;
    width: 100vw;
    background: #f9dfdc;
    padding: 1rem;
}

:root {
    --clr-primary: #2680c0;
    --clr-primary-dark: hsl(205, 100%, 21%);
    --clr-primary-light: hsl(205, 84%, 74%);
    --clr-grey-1: #102a42;
    --clr-grey-5: #617d98;
    --clr-grey-10: #f1f5f8;
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --transition: all 0.6s linear;
    --spacing: 2px;
    --radius: 0.25rem;
    --large-screen-width: 1170px;
    --small-screen-width: 90vw;
    --fixed-width: 50rem;
    --clr-app-red: #f54748;
    --clr-orange: #fb9300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: 'Montserrat'
}

img {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: 'Montserrat'
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
}

.loading {
    margin: 50px auto;
}

.App {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}